@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* ---------------- Colors ---------------- */

  /* Light Shades */
  --color--lightest: #ffffff;
  --color--light: #ffe7e7;
  --color--light-300: #f7e9d6;
  --color--light-600: #e6d3b3;
  --color--light-900: #d9a676;

  /* Dark Shades */
  --color--darkest: #3e2828;
  --color--dark: #894f4f;
  --color--dark-300: #5a504c88;
  --color--dark-600: #b98865;
  --color--dark-900: #3a2f29e6;

  /* Accent Colors */
  --color--accent: #d95f5f;
  --color--accent-300: #d9a6764d;
  --color--accent-600: #ecb58a;
  --color--accent-900: #5a3e2ae6;

  /* ---------------- Typography ---------------- */
  --font--body-font: "DM Sans", sans-serif;
  --font--heading-font: "Plus Jakarta Sans", sans-serif;

  /* ---------------- Layout ---------------- */
  --site-width--site-max-width: 1440px;
  --site-width--global-site-padding: 4rem;
  --site-width--global-site-padding-tablet: 2rem;
  --site-width--global-site-padding-mobile: 1rem;

  /* ---------------- Spacing ---------------- */
  --spacing--none: 0px;
  --spacing--xxs: 0.25rem;
  --spacing--xs: 0.75rem;
  --spacing--s: 1.5rem;
  --spacing--s-tablet: 1rem;
  --spacing--m: 2rem;
  --spacing--m-tablet: 1.5rem;
  --spacing--m-mobile: 1.25rem;
  --spacing--l: 3rem;
  --spacing--l-tablet: 2.5rem;
  --spacing--l-mobile: 1.5rem;
  --spacing--xl: 4.5rem;
  --spacing--xl-tablet: 3rem;
  --spacing--xl-mobile: 2rem;
  --spacing--xxl: 6rem;
  --spacing--xxl-tablet: 4rem;
  --spacing--xxl-mobile: 3rem;
  --spacing--xxxl: 8rem;
  --spacing--xxxl-tablet: 6rem;
  --spacing--xxxl-mobile: 4rem;
  --spacing--hero: 12rem;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  background-color: var(--color--lightest);
  color: var(--color--darkest);
  font-family: var(--font-sans);
}

.lightest-bg {
  background-color: var(--color--lightest);
}

.dark-bg {
  background-color: var(--color--darkest);
}

.light-dark-bg {
  background-color: var(--color--dark);
}

button {
  font-family: var(--font-sans);
  font-size: 14px;
}

.border-accent {
  border-color: var(--color--accent);
}

.border-light {
  border-color: var(--color--lightest);
}

.text-dark {
  color: var(--color--dark);
}

h1 {
  font-family: var(--font--heading-font);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  /* font-size: 4.5rem; */
  font-weight: 700;
  line-height: 1.3em;
}

.heading-two {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.3em;
}

.heading-three {
  font-family: var(--font--heading-font);
  letter-spacing: 0;
  text-transform: none;
  /* font-size: 2rem; */
  font-weight: 600;
  line-height: 1.4em;
}

.heading-four {
  font-family: var(--font--heading-font);
  letter-spacing: 0;
  text-transform: none;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5em;
}

p {
  font-family: var(--font--body-font);
  letter-spacing: 0.01em;
  font-size: 1rem;
  line-height: 1.5em;
}

.accent {
  color: var(--color--accent);
}

.accent-light {
  color: var(--color--lightest);
}

.accent-bg {
  background-color: var(--color--light);
}

.text-color-dark {
  color: var(--color--dark);
}

.text-darkest {
  color: var(--color--darkest);
}

.accent-background {
  background-color: var(--color--light);
}

.accent-background-dark {
  background-color: var(--color--dark);
}

.accent-background-darkest {
  background-color: var(--color--darkest);
}

.bg-dark {
  background-color: var(--color--darkest);
  color: var(--color--lightest);
}

.accordian-trigger {
  font-size: 20px !important;
}

/* swiper js */

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Shadcn Carousel Button */

button.inline-flex.items-center.justify-center.gap-2.whitespace-nowrap.text-sm.font-medium.transition-all.disabled\:pointer-events-none.disabled\:opacity-50.\[\&_svg\]\:pointer-events-none.\[\&_svg\:not\(\[class\*\=\'size-\'\]\)\]\:size-4.shrink-0.\[\&_svg\]\:shrink-0.outline-none.focus-visible\:border-ring.focus-visible\:ring-ring\/50.focus-visible\:ring-\[3px\].aria-invalid\:ring-destructive\/20.dark\:aria-invalid\:ring-destructive\/40.aria-invalid\:border-destructive.border.bg-background.shadow-xs.hover\:bg-accent.hover\:text-accent-foreground.dark\:bg-input\/30.dark\:border-input.dark\:hover\:bg-input\/50.absolute.size-8.rounded-full.top-1\/2.-right-12.-translate-y-1\/2 {
  border-radius: 5px !important;
  background: var(--color--darkest);
  color: var(--color--lightest);
}

button.inline-flex.items-center.justify-center.gap-2.whitespace-nowrap.text-sm.font-medium.transition-all.disabled\:pointer-events-none.disabled\:opacity-50.\[\&_svg\]\:pointer-events-none.\[\&_svg\:not\(\[class\*\=\'size-\'\]\)\]\:size-4.shrink-0.\[\&_svg\]\:shrink-0.outline-none.focus-visible\:border-ring.focus-visible\:ring-ring\/50.focus-visible\:ring-\[3px\].aria-invalid\:ring-destructive\/20.dark\:aria-invalid\:ring-destructive\/40.aria-invalid\:border-destructive.border.bg-background.shadow-xs.hover\:bg-accent.hover\:text-accent-foreground.dark\:bg-input\/30.dark\:border-input.dark\:hover\:bg-input\/50.absolute.size-8.rounded-full.top-1\/2.-left-12.-translate-y-1\/2 {
  border-radius: 5px !important;
  background: var(--color--darkest);
  color: var(--color--lightest);
}

.sliderButtons {
  border-radius: 5px !important;
  background: var(--color--darkest);
  color: var(--color--lightest);
}
